<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #2b3751;">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
          <img
            src="https://th.bing.com/th/id/OIG2.RFY8Bkk4G6ez9tCwlnhK?pid=ImgGn"
            height="50"
            alt=""
            loading="lazy"
            style="margin-top: 2px;"
          />
        </a>

      </div>
  
      <!-- Right elements -->
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" routerLink="/" routerLinkActive="active">
              <span><i class="fas fa-home fa-lg"></i></span>
            </a>
          </li>
    
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" routerLink="top" routerLinkActive="active">
              <span><i class="fas fa-music fa-lg"></i></span>
            </a>
          </li>
          
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" routerLink="video" routerLinkActive="active">
              <span><i class="fas fa-video fa-lg"></i></span>
            </a>
          </li>
      </ul>
      <!-- Right elements -->
    </div>
  </nav>
  <!-- Navbar -->