.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Puedes ajustar el valor según sea necesario */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); Sombra para resaltar */
}
