<!-- inicio.component.html -->
<header class="hero">
  <div class="containers">
    <section class="hero__container">
      <div class="hero__texts">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1 aos-init aos-animate"
          data-aos="fade-up" data-aos-delay="200">
          <div class="hero__content">
            <h1>Descubre la nueva era de la música en SonicExplorer.</h1>
            <h2>Explora artistas emergentes y géneros innovadores.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#about" class="btn-get-started scrollto">Explorar ahora</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="hero__wave" style="overflow: hidden">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%">
      <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff"></path>
    </svg>
  </div>
</header>

<section class="seccion_acerca" style="align-items: center;">
  <div class="card container">
    <div class="container">
      <h2>Acerca de..</h2>
      <p id="text_acerca">Bienvenido a nuestra página. En nuestro sitio web, nos dedicamos a
        proporcionar información valiosa y recursos útiles para nuestros visitantes.
        Nuestro equipo está comprometido con la excelencia y la calidad en cada detalle
        de nuestra plataforma. Desde artículos educativos hasta tutoriales prácticos,
        nuestro objetivo es ayudarte a alcanzar tus objetivos y mejorar tus habilidades
        en el área de desarrollo web y tecnología.</p>
      <img src="https://th.bing.com/th/id/OIG2.RFY8Bkk4G6ez9tCwlnhK?pid=ImgGn" height="30%" width="30%" alt="" loading="lazy"
        style="margin-top: 2px; " />
    </div>
  </div>
</section>
