<div class="container">
    <div class="custom-card" *ngFor="let card of cards">
        <div class="img-box">
            <img [src]="card.imageUrl">
        </div>
        <div class="custom-content">
            <h2>{{card.title}}</h2>
            <hr>
            <p>Interpretada por: <strong>{{card.Artista}}</strong></p>
            <p>Escrita por: <strong>{{card.escritor}}</strong></p>
            <p>Producida por: <strong>{{card.productor}}</strong></p>
            <a [href]="card.link" target="_blank">Escuchar cancion</a>
        </div>
    </div>
</div>
